{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "8.9"
                }
            }
        ],
        "flow"
    ],
    "plugins": ["transform-object-rest-spread"]
}
